<html>
<div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Ime</th>
				<th>Prezime</th>
				<th>Delete</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ovde id</td>
				<td>Ovde ime</td>
				<td>Ovde Prezime</td>
				
				<!--<td><a th:href="@{'/person/{id}/delete'(id=${person.id})}"
					class="delete" th:attr="name=${pe.message}"> <span
						class="fa-stack"> <i class="glyphicon glyphicon-trash"></i>
					</span>
				</a></td>

				<td><a th:href="@{'/posts/{id}/edit'(id=${post.id})}"
					class="edit" th:attr="name=${post.message}"> <span
						class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
					</span>

				</a></td>-->
				
			</tr>
		</tbody>
	</table>
</div>
</html>